body {
    padding-top: 50px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.navbar-fixed-top{
	overflow: hidden;
}

#dw__search{
	#qsearch__in{
		padding:.15em .5em;
		height:2.15em;
		border:none;
		border-radius: .25em 0 0 .25em;
	}
	.button.btn.btn-sm{
		margin-top: -.25em;
		margin-left: -.25em;
		&:hover{
			background:lighten(@link-color, 20%);
		}
	}
}

#config__manager{

	table{
		tr{
			border-bottom:solid 1px #eee;
			td{			
				padding-top:1em;
				padding-bottom:2em;
			}
			td.label{
				font-size: 1.125em;
				padding: 0;
				span.outkey{
					display: block;
					clear:both;
					margin-top: 0;
					margin-left: 0;
					font-weight: normal;
				}
				label{
					margin-top:0;
					margin-bottom:0;
					color:@text-color;
					font-weight: normal;
					b, strong{
						font-weight: normal;
					}
				}
			}
		}
	}
	
}

.editbutton_section{
	display:none;
}

.nav.navbar-nav{
    li{
	    bdi{
	    	display: block;
			line-height: 20px;
			a{	
				display: block;
				padding:15px;
				line-height: 20px;
				color:darken(@gray-light, 10%);
				&:hover{
					background:@gray-lighter;
				}
			}
	    }
    }
}

.sidebar{
	border-left:solid 1px #ccc;
	
	background: #fff;
	background: -moz-linear-gradient(left,  #dddddd 0%, #f4f4f4 2%, #ffffff 7%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dddddd), color-stop(2%,#f4f4f4), color-stop(7%,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left,  #dddddd 0%,#f4f4f4 2%,#ffffff 7%,#ffffff 100%);
	background: -o-linear-gradient(left,  #dddddd 0%,#f4f4f4 2%,#ffffff 7%,#ffffff 100%);
	background: -ms-linear-gradient(left,  #dddddd 0%,#f4f4f4 2%,#ffffff 7%,#ffffff 100%);
	background: linear-gradient(to right,  #dddddd 0%,#f4f4f4 2%,#ffffff 7%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=1 );

	
	.nav.list-group{
	    li{
		    bdi{
				display: block;
			}
	    	a,
	    	bdi a{
		    	display: block;
			    padding: 10px 15px;
				color:@link-color;
				border-bottom:solid 1px #eee;
				&:hover{
					background:@gray-lighter;
				}
	    	}
	    }
	}
}

.pad{
	margin-top: 2em;
	.page{
		.centeralign {
			text-align: left;
		}
	}
}

footer{
	text-align: center;
	.nav.navbar-nav{
   	 	float:none;
   	 	display: inline-block;
	    li{
		    bdi{
				a{
					color:@link-color;
				}
		    }
	    }
	}	
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}

@media (max-width: 767px) {
    /* The floating-to-the-side table of contents is cool, but, not if we're
     * low on screen space! */
    #sidetoc.affix {
        position: static;
        width: auto;
        top: 0;
  }
}

/* Rules to help make DokuWiki functionality a bit more useful/not so ugly. The
 * DokuWiki CSS can clash with the Bootstrap CSS. 
 * */
#config__manager .label {
    white-space: normal;
}

.editBar .edit,
#dw__editform textarea 
{
    width: auto;
}
